* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #153677, #4e085f);
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
    text-align: center;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.todo-app input[type="text"],
.todo-app button {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #4CAF50, #45a049); /* Gradient background */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-app input[type="text"]::placeholder {
    color: #ccc; /* Placeholder color */
}

.todo-app button:hover {
    background: linear-gradient(135deg, #45a049, #4CAF50); /* Gradient background on hover */
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

button {
    padding: 8px 16px;
    background-color: #fafafa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}
